@import '../styles/variables.scss';

.btn {
    background-color: $gray;
    border-radius: 0.35rem;
    border: none;
    color: $white;
    cursor: pointer;
    font-family: $base-font;
    font-size: 1rem;
    padding: 0.375rem 1.25rem;
    transition: all 200ms ease-in-out;
}
//     &:hover {
//         background-color: darken($gray, 20);
//     }

//     &.primary {
//         background-color: $blue;

//         &:hover {
//             background-color: darken($blue, 20);
//         }
//     }

//     &.close-btn {
//         border: none;
//         background-color: transparent;
//         color: $text-color;
//         font-size: 1.4rem;
//     }
// }

.btn-primary {
    background-color: red;
}
